{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="container-fluid content-text homepage-container">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h2 class="mb-4"><strong>Bienvenue sur Wing4All</strong></h2>
            <p class="lead mb-4">
                <strong>{% include 'texts/home_intro.txt' %}</strong>
            </p>
            
            <div class="row mb-5 justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-12 text-center mb-3">
                    <a href="{{ url_for('conseils') }}" class="link-title text-decoration-none d-block h3 py-3">
                        Besoin de conseils ?
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 text-center mb-3">
                    <a href="{{ url_for('equipment_list') }}" class="link-title text-decoration-none d-block h3 py-3">
                        Voir les équipements
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 text-center mb-3">
                    <a href="{{ url_for('contact') }}" class="link-title text-decoration-none d-block h3 py-3">
                        Contactez-nous pour réserver
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}
