{% extends "base.html" %}

{% block title %}Réception du matériel Wing4All{% endblock %}

{% block meta_description %}Découvrez le nouveau matériel de wingfoil fraîchement reçu pour Wing4All. Des ailes et planches de qualité pour tous les niveaux.{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="content-box p-4">
        <div class="row">
            <div class="col-12">
                <h1 class="mb-4">Réception du matériel Wing4All</h1>

                
                <div class="article-content">
                    <div class="mb-4">
                        <img src="{{ url_for('static', filename='img/articles/actus/reception_com.jpeg') }}" alt="Réception du matériel wingfoil" class="img-fluid rounded mb-3">
                        
                        <p>Jour excitant chez Wing4All ! La reception de tous les petits détails qui feront que vous êtes au courant que nous existons... Il paraît que vous mettre au courant de ça était essentiel pour vous permettre de vous faire plaisir sur l'eau ensuite !</p>
                        
                        <div class="row mt-4">
                            <div class="col-md-6">
                                <img src="{{ url_for('static', filename='img/articles/actus/reception_com2.jpeg') }}" alt="Détail du matériel wingfoil" class="img-fluid rounded mb-3">
                            </div>
                        </div>
                        
                        <p>Hâte de vous faire découvrir tout ça !</p>
                    </div>
                </div>
                
                <div class="mt-5">
                    <a href="{{ url_for('main.actualites') }}" class="btn btn-outline-primary">
                        <i class="fas fa-arrow-left me-2"></i> Retour aux actualités
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}