{% extends "franchise/base_franchise.html" %}

{% block title %}Équipe{% endblock %}

{% block content %}
<div class="container py-4">
    <h1 class="text-center mb-5">À Propos de Moi</h1>
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <p class="lead">Passionné par le wingfoil, je me suis donné pour mission de rendre ce sport accessible à tous. Je vous invite à partager cette passion avec moi !</p>
            <h3 class="mt-4">Collaborations</h3>
            <p>Si vous êtes intéressé(e) par une collaboration ou souhaitez en savoir plus sur mes services, contactez-moi à <a href="mailto:recrutement@wing4all.com">recrutement@wing4all.com</a>.</p>
        </div>
    </div>
</div>
{% endblock %}