{% extends "base.html" %}

{% block title %}Équipe{% endblock %}

{% block content %}
<div class="container py-4">
    <h1 class="text-center mb-5">Notre Équipe</h1>
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <p class="lead">Nous sommes une équipe passionnée par le wingfoil, dédiée à rendre ce sport accessible à tous. Rejoignez-nous pour partager cette passion !</p>
            <h3 class="mt-4">Rejoignez-nous</h3>
            <p>Si vous êtes intéressé par une collaboration ou souhaitez rejoindre notre équipe, contactez-nous à <a href="mailto:recrutement@wing4all.com">recrutement@wing4all.com</a>.</p>
        </div>
    </div>
</div>
{% endblock %}